
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}

body, html {
    background: #0d0e12;
    color: aliceblue;
    scroll-behavior: smooth;
    background-image: url(../assets/background.png);
    
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0d0e12; 
    z-index: 1000;
    background-image:url(../assets/background.png) ;
    overflow: hidden;
}

h1 {
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
}

h2 {
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
}

h3 {
    font-family: "Merriweather", serif;
    font-weight: 600;
    line-height: 1.4;
    color: #be95be;
    font-size: 1.2rem;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 1rem; 
    line-height: 1.2;
    font-weight: 300;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 25px;
    color: #be95be;
    border: 2px solid #be95be;
    border-radius: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    min-width: 150px;
}

.btn:hover {
    color: aliceblue;
    border: 2px solid aliceblue;
    transform: translateY(-3px);
    transition: transform 0.5s;
    
}

.decorative-line {
    width: 90px;
    height: 4px;
    background: #584988;
    margin: 20px auto;
    border: none;
    border-radius: 2px;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #0d0e12;
}
::-webkit-scrollbar-thumb{
    background: #584988;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #be95be;
}

