
/* FOR MOBILE VIEIW */

@media screen and (max-width: 480px) {
    main {
        padding-top: 60px;
    }

    .btn {
        margin-top: 0;
        width: 100%; 
        max-width: 200px; 
        text-align: center; 
        padding: 12px 0; 
        font-size: .8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3  {
        font-size: 1rem;
    }

    p {
        font-size: .9rem;
    }

    /* ABOUT SECTION */

    .about_buttons {
        gap: 15px; 
        margin-top: 20px; 
        flex-direction: column; 
        align-items: center; 
    }

    .profile_pic {
        max-width: 200px;
    }

    #about h1 {
        font-size: 1.6rem;
    }
    
    #about p {
        font-size: .9rem;
    }

    /* PROJECTS SECTION */

    #projects h3 {
        font-size: 1.3rem;
    }

    
    /* SKILLS SECTION */
    
    .skills_container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .skill_card {
        min-height: auto;
        padding: 20px 15px;
    }

    .skill_card p {
        margin: 0 10px;
    }

    /* CONTACT SECTION */

    #contact {
        padding: 20px 15px;
    }

    .contact_container {
        gap: 20px;
    }
    
     
    .contact_links,
    .contact_info {
        flex: 1 1 100%; 
        padding: 15px;
    }

    .contact_title,
    .contact_title span {
        display: none;
    }
    
    .contact_title span {
        text-align: center;
    }

    /* FOOTER */

    .footer_links {
        flex-direction: column;
        gap: 0;
    }

}

/* FOR TABLET VIEW */

@media screen and (min-width: 481px) and (max-width: 768px) {

    /* SKILLS SECTION */
    #skills {
        padding: 30px 15px;
    }

    .skills_container {
        gap: 1.5rem;
        padding: 0 15px;

    }

    .skill_card {
        min-height: 220px;
        padding: 15px;
    }
    
    .skill_card p {
        margin: 0 10px;
    }

    /* CONTACT SECTION */
    .contact_container {
        gap: 20px;
    }

    .contact_links, .contact_info {
        flex: 1 1 100%;
        padding: 15px;
    }

    .contact_title,
    .contact_title span {
        text-align: center;
        padding: 0;
  }
    
}

/* FOR SMALL DESKTOP VIEW */

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* SKILLS SECTION */

    .skills_container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* CONTACT SECTION */
    .contact_container {
        gap: 20px;
    }
    
    .contact_title,
    .contact_title span {
        text-align: center;
        padding: 0;
  }
}

/* FOR RESPONSIVE NAVBAR */

@media screen and (max-width: 952px) {
  nav {
        height: 60px;
    }

    .checkBox:checked ~ .nav_links {
        top: 60px; 
        height: calc(100vh - 60px);
    }

    nav .logo a {
    font-size: 1.2rem;
    padding-left: 50px;
    }
    nav ul li a {
    font-size: 1rem;
    }
}


@media screen and (max-width: 858px) {
  .checkButton { display: block; }

  .nav_links {
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #be95be;
    top: 80px;
    left: -100%;
    text-align: center;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    padding: 0;
  }

  .nav_links li { margin: 30px 0; }

  .nav_links li a {
    font-size: 1.3rem;
    color: #0d0e12;
  }

  .checkBox:checked ~ .nav_links {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .logo { display: none; }

  a:hover, a.active {
    color: aliceblue;
  }
}